body{
    margin: 0;
    padding: 0;
    background: url(../img/labo.JPG) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;  
}
h1{
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    margin: 0;
    color: rgb(221, 221, 221);
    padding: 30px 0 20px;
    text-align: center;
    font-size: 30px;
}
table{
    width: 300px;
    height: 200px;
    background: rgb(4, 4, 44);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px 10px;
}
button{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
   border-radius: 28px;
   text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
   box-shadow: 6px 5px 24px #666666;
   font-family: Arial;
   color: #fafafa;
   font-size: 10px;
   text-decoration: none;

    padding:20px;
    background:rgb(221, 221, 221);
    color:rgb(0,0,0);
    font:bold 10px/10px;
    width:100px;
    cursor:pointer;
    cursor:hand;
    text-align:center;
      
    
}
a{
    text-decoration: none;
    width: 20%; 
    color: rgb(4,4,4);
    padding: 0;
    font-weight: bold;
}